In [9]:
import pandas as pd
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori

In [2]:
purchases = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')
purchases.head()

      id            Товар  Количество
0  17119            Лимон         1.1
1  17119  Лимон оранжевый         0.7
2  17119        Лук-порей        10.0
3  17119     Лук репчатый         2.5
4  17119    Малина свежая         1.0

In [3]:
purchases = purchases.rename(columns={'Товар': 'goods', 'Количество': 'quantity'})

In [4]:
df = pd.pivot_table(purchases, values='quantity', index='id', columns='goods').fillna(0)

In [6]:
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 0.1:
        return 1

In [7]:
df_new = df.applymap(encode_units)
df_new.head()

goods,Абрикос вяленый,Абрикосы молдавские,Авокадо ХАСС,Авокадо стандарт,Алыча вяленая,Ананас Gold,Ананасовые кольца,Апельсины столовые,Арбуз,Арбуз овальный,...,Яблоки Гала,Яблоки Голден,Яблоки Джонаголд,Яблоки Мутсу,Яблоки Симиренко,Яблоки Фуджи,Яблоки Чемпион,Яблоки сезонные,Яблоки сушеные,Ягоды Годжи
id,,,,,,,,,,,,,,,,,,,,,
17119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17530,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17618,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
17724,0,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
17814,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119062,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119110,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
119206,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
119393,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
119396,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [54]:
transactions = len(df_new.index)

In [109]:
frequent_itemsets = apriori(df_new, min_support=0.05, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets = frequent_itemsets[frequent_itemsets['length']==2]
frequent_itemsets.head()

      support                                  itemsets  length
109  0.060800  (Абрикосы молдавские, Огурцы Луховицкие)       2
110  0.054690              (Абрикосы молдавские, Укроп)       2
111  0.058356              (Баклажаны грунтовые, Арбуз)       2
112  0.072411                           (Бананы, Арбуз)       2
113  0.069966                          (Арбуз, Кабачки)       2

In [110]:
frequent_itemsets['Встречаемость'] = frequent_itemsets['support'] * transactions
frequent_itemsets = frequent_itemsets.drop(columns=['length', 'support'])

In [111]:
frequent_itemsets = frequent_itemsets.sort_values('Встречаемость', ascending=False)

In [112]:
frequent_itemsets = pd.DataFrame(frequent_itemsets).reset_index(drop=True)

In [115]:
frequent_itemsets_top = frequent_itemsets.head(5)
frequent_itemsets_top

                       itemsets  Встречаемость
0    (Огурцы Луховицкие, Укроп)          431.0
1             (Петрушка, Укроп)          408.0
2    (Огурцы Луховицкие, Арбуз)          345.0
3  (Огурцы Луховицкие, Кабачки)          326.0
4                (Кинза, Укроп)          303.0